$blue_color : rgb(5, 5, 148);
$bg_blue : linear-gradient(to left,rgb(55, 116, 208),rgb(5, 63, 150));
$title_size : 25px;
$text_size :($title_size / 2);
$white_color : rgb(255, 255, 255);
$bg_grey : rgb(233, 233, 253);
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    transition: all .2s cubic-bezier(0.05, 0.2, 0.235, 1);
}
body{
    height: 95vh;
}
main{
    height: fit-content;
    padding: 3px !important;
} 
.title{
    font-size: $title_size;
}
form{
    input{
        border-radius: 0% !important;
        font-size: $text_size !important;
        background: transparent !important;
    }
}
.rule_white{
    height: 4px;
    background: $white_color;
    border-radius: .4em;
    margin: auto;
}
.b-radius{
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
.y-hidden{
    overflow-y: hidden !important;
}
.bg-blue{
    background: $blue_color;
}
.btn_blue{
    background-color: $blue_color !important;
    border-radius: 2em !important;
    color: $white_color !important;
    font-size:($title_size - 10px) !important; 
    font-weight: 600 !important;
    box-shadow: 2px 2px 3px rgb(85, 85, 172),
             inset  1px 1px 3px rgb(102, 153, 201) !important;
    border: none;
    &:hover{
        background: red;
    }
}
/*Container form*/
.container_form{
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(209, 203, 203, 0.789),
                -1px -1px 2px rgba(150, 147, 147, 0.857);;
    margin-top: 2em;
    background-color: $white_color;
    height: 60vh;
    .title_container{
        h1{
            color: $blue_color;
            font-size: $title_size - 7px;
            font-weight: 600;
        }
    }
    .form{
        margin-top: 1em;
        .form-control{
            width: 95%;
            margin: auto;
        }
    }
}
/*container login*/
.container-login{
    height: 100%;
    .title_login{
        .title{
            font-size: $title_size - 9px;
            font-weight: bolder;
        }
    }
    .rule_white{
        width: 120px;
    }
    label{
        position: absolute;
        right: 0;
    }
}
@media (max-width:375px) {
    .text{
        font-size: $text_size;
    }
    main{
        height: fit-content;
        padding: 3px !important;
    } 
    .container_form{
        margin-top: 2em;
        .title_container{
            margin-top: 0;
            h1{
                font-size: $title_size - 7px;
            }
        }
        .form{
            margin-top: 1em;
        }
    }
    .Card{
        height: 30%;
        .container-fluid{
            .title{
                font-size: $title_size - 3px !important;
            }
        }
        .rule_white{
            width: 150px;
        }
    }
//login page
    .down{
        height: 60vh !important;
        transform: translateY(65%) !important;
    }
    .login{
        background: $bg_blue;
        height: 66.5vh;
        padding: 0 3px;
        transform: translateY(50%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .container-login{
        height: 100%;
        .title_login{
            .title{
                font-size: $title_size - 9px;
                font-weight: bolder;
            }
        }
        .rule_white{
            width: 120px;
        }
        label{
            position: absolute;
            right: 0;
        }
    }
}
@media (max-width:575px) {
    .text{
        font-size: $text_size;
    }
    .header_container{
        background-color: $bg_grey;
        height: 200px;
        top: 0;
        left: 0;
        position: absolute;
        transform: translateY(-35%);
        z-index: -111;
    }
    .container_form{
        box-shadow: 1px 1px 2px rgba(209, 203, 203, 0.789),
                    -1px -1px 2px rgba(150, 147, 147, 0.857);;
        margin-top: 4em;
        background-color: $white_color;
        height:67vh;
        .title_container{
            h1{
                color: $blue_color;
                font-size: $title_size - 5px;
                font-weight: 600;
            }
        }
        .form{
            margin-top: 1em;
            .form-control{
                width: 95%;
                margin: auto;
            }
        }
    }
    .Card{
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
        background: $bg_blue;
        height:25%;
        .container-fluid{
            .title{
                font-size: $title_size !important;
                color: $white_color;
                font-weight: 6OO;
            }
        }
        .rule_white{
            width: 150px;
        }
    }
//login page
    .down{
        height: 60vh !important;
        transform: translateY(65%) !important;
    }
    .login{
        background: $bg_blue;
        height: 66.5vh;
        padding: 0 3px;
        transform: translateY(50%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .container-login{
        height: 100%;
        .title_login{
            .title{
                font-size: $title_size - 9px;
                font-weight: bolder;
            }
        }
        .rule_white{
            width: 120px;
        }
        label{
            position: absolute;
            right: 0;
        }
    }
}