* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-transition: all 0.2s cubic-bezier(0.05, 0.2, 0.235, 1);
  transition: all 0.2s cubic-bezier(0.05, 0.2, 0.235, 1);
}

body {
  height: 95vh;
}

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3px !important;
}

.title {
  font-size: 25px;
}

form input {
  border-radius: 0% !important;
  font-size: 12.5px !important;
  background: transparent !important;
}

.rule_white {
  height: 4px;
  background: white;
  border-radius: .4em;
  margin: auto;
}

.b-radius {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.y-hidden {
  overflow-y: hidden !important;
}

.bg-blue {
  background: #050594;
}

.btn_blue {
  background-color: #050594 !important;
  border-radius: 2em !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  -webkit-box-shadow: 2px 2px 3px #5555ac, inset 1px 1px 3px #6699c9 !important;
          box-shadow: 2px 2px 3px #5555ac, inset 1px 1px 3px #6699c9 !important;
  border: none;
}

.btn_blue:hover {
  background: red;
}

/*Container form*/
.container_form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 2px rgba(209, 203, 203, 0.789), -1px -1px 2px rgba(150, 147, 147, 0.857);
          box-shadow: 1px 1px 2px rgba(209, 203, 203, 0.789), -1px -1px 2px rgba(150, 147, 147, 0.857);
  margin-top: 2em;
  background-color: white;
  height: 60vh;
}

.container_form .title_container h1 {
  color: #050594;
  font-size: 18px;
  font-weight: 600;
}

.container_form .form {
  margin-top: 1em;
}

.container_form .form .form-control {
  width: 95%;
  margin: auto;
}

/*container login*/
.container-login {
  height: 100%;
}

.container-login .title_login .title {
  font-size: 16px;
  font-weight: bolder;
}

.container-login .rule_white {
  width: 120px;
}

.container-login label {
  position: absolute;
  right: 0;
}

@media (max-width: 375px) {
  .text {
    font-size: 12.5px;
  }
  main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3px !important;
  }
  .container_form {
    margin-top: 2em;
  }
  .container_form .title_container {
    margin-top: 0;
  }
  .container_form .title_container h1 {
    font-size: 18px;
  }
  .container_form .form {
    margin-top: 1em;
  }
  .Card {
    height: 30%;
  }
  .Card .container-fluid .title {
    font-size: 22px !important;
  }
  .Card .rule_white {
    width: 150px;
  }
  .down {
    height: 60vh !important;
    -webkit-transform: translateY(65%) !important;
            transform: translateY(65%) !important;
  }
  .login {
    background: -webkit-gradient(linear, right top, left top, from(#3774d0), to(#053f96));
    background: linear-gradient(to left, #3774d0, #053f96);
    height: 66.5vh;
    padding: 0 3px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .container-login {
    height: 100%;
  }
  .container-login .title_login .title {
    font-size: 16px;
    font-weight: bolder;
  }
  .container-login .rule_white {
    width: 120px;
  }
  .container-login label {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 575px) {
  .text {
    font-size: 12.5px;
  }
  .header_container {
    background-color: #e9e9fd;
    height: 200px;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    z-index: -111;
  }
  .container_form {
    -webkit-box-shadow: 1px 1px 2px rgba(209, 203, 203, 0.789), -1px -1px 2px rgba(150, 147, 147, 0.857);
            box-shadow: 1px 1px 2px rgba(209, 203, 203, 0.789), -1px -1px 2px rgba(150, 147, 147, 0.857);
    margin-top: 4em;
    background-color: white;
    height: 67vh;
  }
  .container_form .title_container h1 {
    color: #050594;
    font-size: 20px;
    font-weight: 600;
  }
  .container_form .form {
    margin-top: 1em;
  }
  .container_form .form .form-control {
    width: 95%;
    margin: auto;
  }
  .Card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, right top, left top, from(#3774d0), to(#053f96));
    background: linear-gradient(to left, #3774d0, #053f96);
    height: 25%;
  }
  .Card .container-fluid .title {
    font-size: 25px !important;
    color: white;
    font-weight: 6OO;
  }
  .Card .rule_white {
    width: 150px;
  }
  .down {
    height: 60vh !important;
    -webkit-transform: translateY(65%) !important;
            transform: translateY(65%) !important;
  }
  .login {
    background: -webkit-gradient(linear, right top, left top, from(#3774d0), to(#053f96));
    background: linear-gradient(to left, #3774d0, #053f96);
    height: 66.5vh;
    padding: 0 3px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .container-login {
    height: 100%;
  }
  .container-login .title_login .title {
    font-size: 16px;
    font-weight: bolder;
  }
  .container-login .rule_white {
    width: 120px;
  }
  .container-login label {
    position: absolute;
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */