$blue_color : rgb(5, 5, 148);
$bg_blue : linear-gradient(to left,rgb(55, 116, 208),rgb(5, 63, 150));
$title_size : 25px;
$text_size :($title_size / 2);
$white_color : rgb(255, 255, 255);
$bg_grey : rgb(233, 233, 253);
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.bg-blue{
    background: $blue_color;
}
.text{
    font-size: $text_size + 2px;
}
.title{
    font-size: $title_size;
}
.outline-none{
    outline: none;
}
main{
    height: 100vh;
}
@media (max-width:375px) {
    .text-content{
        position: absolute;
        top:100px;
        left: 0;
        right: 0;
        h1{
            font-size: $title_size + 5px ;
            span{
                font-size: $title_size + 20px;
                color:$blue_color;
            }
        }
    }
    .container-img{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
@media (max-width:275px) {
    .text-content{
        top:130px;
        h1{
            font-size: $title_size + 2px ;
            span{
                font-size: $title_size + 14px;
            }
        }
    }
    .container-img{
        position: absolute;
    }
}